* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	font-family: "Heebo", sans-serif;
}

.landing {
	min-height: 100vh;
	background: url(./hero.jpg);
	background-size: cover;
	padding: 0rem 5rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
}

.nav-links{
	display: flex;
	list-style: none;
}

.nav-links li {
	padding-left: 10rem;
	font-size: 1.2rem;
}

#logo {
	font-family: "Lobster", cursive;
	font-weight: lighter;
	font-size: 2rem;
}

.big-text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	-webkit-transform: translate(-50%, -30%);
	-moz-transform: translate(-50%, -30%);
	-ms-transform: translate(-50%, -30%);
	-o-transform: translate(-50%, -30%);
	font-family: "Lobster", cursive;
	font-size: 5rem;
	color: rgb(61, 61, 61);
}

.intro {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	background: rgb(104, 117, 122);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
}

.intro-text {
	font-family: "Heebo", sans-serif;
	color: rgb(227, 242, 255);
	font-size: 3rem;
}

.hide {
	background: black ;
	overflow: hidden;
}

.hide span {
	display: inline-block;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
}